img
{
display: block;
width: 100px;
}
h1     
 {
   font-size: medium;
   font-style: italic;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   background-color: brown;
   border-color: brown;
   border: width 5px;
   border-style: solid;
   border-radius: 30px;
   width: 40%;
   height: 14px;
   
   
}
body
{
    background-color: darksalmon;
    background-position: 100%;
    background-attachment: scroll;
}
header
{
    margin: 10px;
    padding: 15px;
    background-color: rgba(3, 3, 32, 0);
    font-display: white;
}
aside
{
float: right;
font-display: right;
align-content: flex-end;
background-color: antiquewhite;
width: 80%;
padding-top: 15px;
padding-left: 50px;
    
}
article
{
    align-content: flex-start;
    padding-top: 200px;
    
    
}
footer
{
    
    align-content:flex-start;
    padding-left: 800px ;
}